/* Set box-sizing to border-box to include padding and border in element's total width and height */
* {
    box-sizing: border-box;
}

/* Apply some basic styles to the body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #F6E7EA;
    color: #454545;
}

/* Set some default styles for headings */
h1,
h2,
h3 {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

/* Apply styles to the header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F6E7EA;
    border-bottom: 1px solid #E5E5E5;
    padding: 20px;
}

.icon img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.icon2 img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.icon2 {
    order: 2;
}

.name {
    font-size: 24px;
    color: #333333;
    text-align: left;
    flex-grow: 1;
    font-weight: bold;
}

.company {
    font-size: 14px;
    color: #777777;
    font-weight: 300;
}

/* Apply styles to the container */
.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}



.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #454545, #3b3b3b);
    padding: 20px 0 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

.nav-link-wrapper a {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    transition: color 0.3s ease, background 0.3s ease;
}

.nav-link-wrapper:last-child {
    order: 1;
}

.nav-link-wrapper a:hover {
    background: #F6E7EA;
    color: #454545;
}

/* Styles for the contact form */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #333333;
    background-color: #F2F2F2;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #333333;
    background-color: #FFFFFF;
}

.form textarea {
    resize: none;
    height: 150px;
}

.form label {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
    color: #333333;
    font-weight: bold;
}

.form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #333333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #4d4d4d;
}