/* Set box-sizing to border-box to include padding and border in element's total width and height */
* {
    box-sizing: border-box;
}

/* Apply some basic styles to the body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #454545;
    background-color: #F6E7EA;
}

/* Set some default styles for headings */
h1,
h2,
h3 {
    margin: 0;
    font-weight: normal;
    text-align: center;
}

/* Apply styles to the header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F6E7EA;
    border-bottom: 4px solid #454545;
    padding: 20px;
}

.icon img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.icon2 img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.icon2 {
    order: 2;
}

.name {
    font-size: 36px;
    color: #333;
    text-align: left;
    flex-grow: 1;
    font-weight: bold;
}

.company {
    font-size: 14px;
    color: #777;
    font-weight: 300;
}

/* Apply styles to the container */
.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #454545, #3b3b3b);
    padding: 20px 0 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

.nav-link-wrapper a {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    transition: color 0.3s ease, background 0.3s ease;
}

.nav-link-wrapper:last-child {
    order: 1;
}

.nav-link-wrapper a:hover {
    background: #F6E7EA;
    color: #454545;
}

/* Apply styles to the product container */
.products {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.leftColumn {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 98%;
    margin-bottom: 20px;
    padding: 20px;
    height: 150px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-basis: calc(33.33% - 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #454545;
    transition: transform 0.3s ease;
}

.product:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.product img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
}

/* Add background color and padding to product titles */
.product-title {
    background-color: #F6E7EA;
    padding: 10px;
    text-align: center;
}

/* Add margin and padding to product prices */
.product-price {
    margin: 10px 0;
    padding: 0 10px;
    text-align: center;
}

/* Add margin and padding to product descriptions */
.product-description {
    margin: 10px 0;
    padding: 0 10px;
    text-align: center;
}

/* Add hover effects to product cards */
.product:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}