/* Set box-sizing to border-box to include padding and border in element's total width and height */
* {
    box-sizing: border-box;
}

/* Apply some basic styles to the body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #454545;
    background-color: #F6E7EA;
}

/* Set some default styles for headings */
h1,
h2,
h3 {
    margin: 0;
    font-weight: normal;
    text-align: center;
}

/* Apply styles to the header */
.header {
    background-color: #F6E7EA;
    border-bottom: 4px solid #454545;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.icon img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.name {
    font-size: 36px;
    color: #333;
    text-align: left;
    flex-grow: 1;
    font-weight: bold;
}

.company {
    font-size: 14px;
}

/* Apply styles to the container */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.leftColumn {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 500px;
    margin-top: 20px;
}

.checkout-wrapper {
    color: #F6E7EA;
    background-color: #454545;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.nav-wrapper {
    background: linear-gradient(to bottom, #454545, #3b3b3b);
    padding: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 20px;

}

.nav-link-wrapper a {
    font-size: 25px;
    margin-bottom: 80px;
    text-align: left;
    color: #F6E7EA;

    padding: 10px;
    border-radius: 5px;
    transition: color 0.3s ease, background 0.3s ease;
}

.nav-link-wrapper:last-child {
    margin-bottom: 0;
}

.nav-link-wrapper a:hover {
    color: #454545;
    background: linear-gradient(to bottom, #F6E7EA, #E5D5D7);
}

/* Apply styles to the product container */
.products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.product {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    color: #F6E7EA;
    background-color: #454545;
    transition: transform 0.3s ease;
}

.product:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.product img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.product:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.product h2 {
    font-size: 24px;
    margin: 10px 0;
    text-align: center;
    color: #F6E7EA;
}

.product1 {
    margin-top: 20px;
}

.product p {
    margin: 10px 0;
    text-align: center;
    line-height: 1.2;
    color: #666;
}

.product select {
    margin-bottom: 10px;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: #f4f4f4;
    color: #333;
}

.product button {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #eee;
}

.products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-right: 250px;
}


.cart {
    color: #F6E7EA;
    background-color: #454545;
    padding: 20px;
    position: absolute;
    right: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
    overflow-y: auto;
    transition: transform 0.3s ease;

}

.cart-image {
    max-width: 100px !important;
    border: 1px solid black !important;
}

.icon2 img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.icon2 {
    order: 2;
}